<h1>Info on <%= @list.name %></h1>

<ul class="list-unstyled">
  <% @list.bookmarks.each do |bookmark| %>
    <li class = " mt-5 mb-5">
      <h2><%= bookmark.movie.title %></h2>
      <em><%= bookmark.comment%></em>
        <span>
          <%= link_to "Remove", bookmark_path(bookmark), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-warning small" %>
        </span>
    </li>
  <% end %>

</ul>

<%= link_to "Add bookmark in #{@list.name}", new_list_bookmark_path(@list), class: "btn btn-success" %>
<%= link_to "Back to all lists", lists_path, class: "btn btn-primary" %>
