<h1>Add a movie bookmark to <%= @list.name %> list </h1>

<%= simple_form_for [@list, @bookmark] do |f| %>
  <%= f.association :movie %>
  <%= f.input :comment %>
  <%= f.button :submit, value: "Bookmark", class: "btn btn-success" %>
<% end %>
